.imgTitle{
    width: 395px;
}
.componentContainer{
    display: flex;
    margin-top: 5%;
}
.textContainer{
    display: flex;
    flex-direction: column;
    font-family: light;
    color: #0000FE;
}
.textContainer h1{
    text-transform: uppercase;
    border-bottom: 1px solid ;
    
}
.subTitle{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.textContainer p{
    margin: 0;
}
.miseEnScene{
    padding-bottom: 2%;
}
.textContainer span{
    font-weight: bold;
}
.textContainer ul{
    padding-bottom: 2%;
}
.secondList{
    border-bottom: 1px solid;
}
.descriptionComponent{
    padding-top: 2%;
}
.imgContainer img{
    width: 40vw;
    
}